{"openapi":"3.1.0","info":{"title":"Adanos Market Sentiment API","description":"\nMarket sentiment and attention data for **stocks** across **Reddit**, **X/Twitter**, **financial news**, and **Polymarket**, plus a separate **Reddit crypto** API and direct finance-tuned **text sentiment analysis** (1,000+ term finance lexicon).\n\nOne stock ticker has four platform perspectives (Reddit, X, News, Polymarket). Crypto is a separate asset class, not a fifth perspective on the same ticker. Reference coverage is 35,000+ stock tickers.\n\nThe core concepts across the API are **Buzz Score**, **Trend Detection** and directional **Sentiment**: they show what is moving, in which direction and on which platform.\n\nFor AI agents, the machine-readable reference is available at [`/llms.txt`](/llms.txt). The MIT license on this OpenAPI document applies only to the spec itself. Using the commercial API is governed by the [Adanos Terms of Service](https://adanos.org/terms).\n\n## Quick Start\n\n### 1. Get an API key\n\nGet your API key from the website: [adanos.org/register](https://adanos.org/register)\n\n### 2. Make your first successful request\n\n```bash\ncurl \"https://api.adanos.org/reddit/stocks/v1/trending?limit=3\" \\\n  -H \"X-API-Key: sk_live_your_key_here\"\n```\n\n## How To Read Responses\n\n| Field | Meaning |\n|------|---------|\n| `buzz_score` | Normalized 0-100 popularity/attention score for that platform. Higher means more active and more relevant right now. |\n| `trend` | `rising`, `falling` or `stable` based on activity momentum over the current 3 UTC days vs previous 3 UTC days. It uses platform activity inputs such as mentions, engagement, breadth or market flow; for `from`/`to`, it anchors at `to` (or now when `to` is today). It is not price movement unless an endpoint explicitly says so. |\n| `sentiment_score` | Usually `-1.0` bearish to `+1.0` bullish. `null` means the platform had too little directional signal. |\n| `bullish_pct` / `bearish_pct` | Share of directional mentions or markets that were bullish vs bearish on that platform. |\n| `trend_history` | Independent UTC-day buzz scores, ordered oldest to newest. It is not directional trend history. The live final value describes today so far and can differ from the selected-period `buzz_score`. |\n| `period_days` | Lookback window used for that specific response. |\n| `found` | Legacy v1 detail-field planned for removal in v2. `true` means service data exists for this asset/window; `false` means the asset is supported, but the selected platform/window had no qualifying data. Unsupported assets return `404` with `detail.error_code`. |\n| `daily_trend[].buzz_score` | May be `null` when a per-day aggregate has not materialized yet; use the daily activity fields for charts and the parent `buzz_score` for the selected-window score. |\n| Search summaries | Present for every result. Zero values mean no qualifying platform signal in the selected period; nullable metadata/sentiment fields mean unknown or source-dependent data. |\n| `Null values` | Usually mean `null`: known field, but no signal/data for this asset in this period, not a schema mismatch. |\n\n## Platform Metric Parity\n\n| Platform | Primary activity field | Coverage / participation field | Engagement / market strength field |\n|----------|------------------------|--------------------------------|------------------------------------|\n| Reddit Stocks | `mentions` | `subreddit_count`, `unique_posts` | `total_upvotes` |\n| Reddit Crypto | `mentions` | `subreddit_count`, `unique_posts` | `total_upvotes` |\n| X/Twitter Stocks | `mentions` | `unique_tweets` | `total_upvotes` (likes) |\n| News Stocks | `mentions` | `source_count` | no social engagement field |\n| Polymarket Stocks | `trade_count` | `market_count` (market coverage), `unique_traders` (participants) | `total_liquidity` |\n\n## Plans, Auth and Limits\n\nThe public API has 53 operations: 6 unauthenticated Health-Check operations and 47 protected operations. Free and Hobby can call 41 of those protected operations. Professional can call all 47.\n\nRegister at [adanos.org/register](https://adanos.org/register). Current prices and checkout are at [adanos.org/pricing](https://adanos.org/pricing). API use is governed by the [Adanos Terms of Service](https://adanos.org/terms).\n\n| | Free | Hobby | Professional |\n|---|---|---|---|\n| Price | $0 | $29/mo ($24.17/mo yearly) | $299/mo ($249.17/mo yearly) |\n| Burst limit | 100 req/min | 1,000 req/min | 1,000 req/min |\n| Monthly quota | 250 | 250,000 | 2,500,000 |\n| Historical lookback | 30 days | 90 days | up to 365 days |\n| Protected endpoints | 41 | 41 | 47 |\n| Commercial use | No | No | Yes |\n| Text sentiment API | No | No | Yes (`POST /sentiment/v1/analyze`) |\n| Raw mentions | No | No | Yes (five `/mentions` endpoints) |\n\nProfessional-only operations:\n\n- `POST /sentiment/v1/analyze`\n- `GET /news/stocks/v1/stock/{ticker}/mentions`\n- `GET /reddit/stocks/v1/stock/{ticker}/mentions`\n- `GET /reddit/crypto/v1/token/{symbol}/mentions`\n- `GET /x/stocks/v1/stock/{ticker}/mentions`\n- `GET /polymarket/stocks/v1/stock/{ticker}/mentions`\n\nProtected endpoints require `X-API-Key` (`sk_live_` + 32 hex). Health-check endpoints are public.\nMonthly quotas reset per account: free keys use their creation timestamp monthly anchor; paid keys use Stripe `current_period_end` when available.\n\nSuccessful protected GET responses include:\n\n- `X-RateLimit-Limit-Monthly`\n- `X-RateLimit-Remaining-Monthly`\n- `X-RateLimit-Used-Monthly`\n- `X-RateLimit-Reset-Monthly`\n- `X-RateLimit-Limit-Burst`\n- `X-RateLimit-Remaining-Burst`\n- `X-RateLimit-Reset-Burst`\n- `X-Account-Type`\n\nSuccessful GET responses include `Cache-Control`.\n\n## Official SDKs\n\n| SDK / Tool | Install | Link |\n|------------|---------|------|\n| Python SDK | `pip install adanos` | [PyPI](https://pypi.org/project/adanos/) |\n| TypeScript SDK | `npm install finance-sentiment` | [npm](https://www.npmjs.com/package/finance-sentiment) |\n| PHP SDK | `composer require adanos/adanos-php` | [Packagist](https://packagist.org/packages/adanos/adanos-php) |\n| CLI | `pip install adanos-cli` | [PyPI](https://pypi.org/project/adanos-cli/) |\n\n","termsOfService":"https://adanos.org/terms","contact":{"name":"API Support","url":"https://api.adanos.org/","email":"support@adanos.org"},"license":{"name":"MIT (OpenAPI document only)","url":"https://opensource.org/licenses/MIT"},"version":"1.50.0"},"servers":[{"url":"https://api.adanos.org","description":"Production"}],"paths":{"/reddit/stocks/v1/trending":{"get":{"tags":["Reddit Stocks"],"summary":"Trending stocks","description":"Returns the Reddit stocks with the strongest discussion activity in the selected period, ranked by `buzz_score`.\n\n**Includes:**\n- `buzz_score`: normalized 0-100 activity score used for ranking\n- `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)\n- `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals\n- `mentions`, `unique_posts`, `subreddit_count`, `total_upvotes`: attributed volume and engagement signals, including inherited thread-context mentions\n- `trend_history`: independent UTC-day buzz scores, oldest to newest; minimum 7 values; the live final value describes today so far and can differ from the selected-period `buzz_score`; missing days are `0.0`","operationId":"getTrendingStocks","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of results","examples":[10],"default":20,"title":"Limit"},"description":"Maximum number of results"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip for pagination","examples":[0],"default":0,"title":"Offset"},"description":"Number of items to skip for pagination"},{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"enum":["stock","etf","all"],"type":"string"},{"type":"null"}],"description":"Filter by asset type. Omit or use 'all' for all assets.","examples":["stock"],"title":"Type"},"description":"Filter by asset type. Omit or use 'all' for all assets."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendingStock"},"title":"Response Gettrendingstocks"},"example":[{"ticker":"TSLA","company_name":"Tesla, Inc.","buzz_score":87.5,"trend":"rising","mentions":342,"unique_posts":45,"subreddit_count":8,"sentiment_score":0.23,"bullish_pct":45,"bearish_pct":18,"total_upvotes":15234,"trend_history":[45.2,52.1,48.7,67.3,72.1,78.4,87.5]}]}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=30"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Gettrendingstocks"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No trending stocks found","content":{"application/json":{"example":{"detail":"No trending stocks found."}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/trending/sectors":{"get":{"tags":["Reddit Stocks"],"summary":"Trending sectors","description":"Returns the sectors with the strongest aggregated Reddit stock discussion in the selected period, ranked by `buzz_score`.\n\n**Includes:**\n- `buzz_score`: normalized 0-100 activity score used for ranking\n- `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)\n- `mentions`, `unique_tickers`, `subreddit_count`, `total_upvotes`: attributed volume and engagement signals, including inherited thread-context mentions\n- `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals\n- `top_tickers`: up to 5 tickers driving the sector result\n- `trend_history`: independent daily sector buzz scores, oldest to newest; length is max(requested days, 7); the live final value describes today so far and can differ from period `buzz_score`","operationId":"getTrendingSectors","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of results","examples":[10],"default":20,"title":"Limit"},"description":"Maximum number of results"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip for pagination","examples":[0],"default":0,"title":"Offset"},"description":"Number of items to skip for pagination"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendingSector"},"title":"Response Gettrendingsectors"},"example":[{"buzz_score":78.4,"trend":"rising","mentions":4523,"unique_tickers":34,"subreddit_count":15,"sentiment_score":0.28,"bullish_pct":54,"bearish_pct":22,"total_upvotes":128450,"trend_history":[45.2,48.1,52.3,55.0,58.2,61.5,78.4],"top_tickers":["NVDA","AAPL","MSFT","AMD","GOOGL"],"sector":"Technology"}]}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=300"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Gettrendingsectors"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No trending sectors found","content":{"application/json":{"example":{"detail":"No trending sectors found."}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/trending/countries":{"get":{"tags":["Reddit Stocks"],"summary":"Trending countries","description":"Returns the countries with the strongest aggregated Reddit stock discussion in the selected period, ranked by `buzz_score`.\n\n**Includes:**\n- `buzz_score`: normalized 0-100 activity score used for ranking\n- `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)\n- `mentions`, `unique_tickers`, `subreddit_count`, `total_upvotes`: attributed volume and engagement signals, including inherited thread-context mentions\n- `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals\n- `top_tickers`: up to 5 tickers driving the country result\n- `trend_history`: independent daily country buzz scores, oldest to newest; length is max(requested days, 7); the live final value describes today so far and can differ from period `buzz_score`","operationId":"getTrendingCountries","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of results","examples":[10],"default":20,"title":"Limit"},"description":"Maximum number of results"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of items to skip for pagination","examples":[0],"default":0,"title":"Offset"},"description":"Number of items to skip for pagination"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TrendingCountry"},"title":"Response Gettrendingcountries"},"example":[{"buzz_score":82.3,"trend":"stable","mentions":8934,"unique_tickers":156,"subreddit_count":18,"sentiment_score":0.21,"bullish_pct":48,"bearish_pct":26,"total_upvotes":245000,"trend_history":[52.1,54.0,56.8,59.2,61.0,60.1,82.3],"top_tickers":["NVDA","TSLA","AAPL","AMD","PLTR"],"country":"United States"}]}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=300"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Gettrendingcountries"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No trending countries found","content":{"application/json":{"example":{"detail":"No trending countries found."}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/stock/{ticker}":{"get":{"tags":["Reddit Stocks"],"summary":"Stock Sentiment","description":"Returns detailed sentiment analysis for a specific stock ticker.\n\n**Includes:**\n- Buzz score (0-100)\n- Trend direction over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today).\n- Sentiment breakdown (positive/negative/neutral)\n- Daily trend data\n- `top_mentions`: top explicit Reddit mentions from the selected period, ranked by upvotes\n- `top_subreddits`: top subreddit contributors by attributed mention count\n\n`mentions` includes inherited thread-context mentions. Use raw `/mentions` without\n`include_inherited` for explicit-only rows.\n\nReturns `200` with `found: false` when the ticker is supported but this service\nhas no qualifying data in the requested window. Returns `404` only when the\nticker is unsupported.","operationId":"getStockSentiment","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"ticker","in":"path","required":true,"schema":{"type":"string","pattern":"^\\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$","description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)","title":"Ticker"},"description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockSentiment"},"example":{"ticker":"TSLA","company_name":"Tesla, Inc.","found":true,"buzz_score":87.5,"mentions":342,"sentiment_score":0.23,"total_upvotes":15234,"unique_posts":45,"subreddit_count":8,"trend":"rising","bullish_pct":45,"bearish_pct":18,"period_days":7,"top_subreddits":[{"subreddit":"wallstreetbets","mentions":89,"count":89},{"subreddit":"stocks","mentions":67,"count":67}],"daily_trend":[{"date":"2025-12-28","mentions":52,"sentiment_score":0.31,"buzz_score":42.8,"bullish_pct":58,"bearish_pct":19},{"date":"2025-12-27","mentions":48,"sentiment_score":0.18,"buzz_score":38.5,"bullish_pct":46,"bearish_pct":21}],"top_mentions":[{"text_snippet":"TSLA looking strong after...","sentiment_score":0.85,"sentiment_label":"positive","upvotes":1234,"subreddit":"wallstreetbets","created_utc":"2025-12-28T10:30:00"}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=30"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Getstocksentiment"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Unsupported ticker","content":{"application/json":{"example":{"detail":{"error_code":"unsupported_ticker","message":"Unsupported ticker $XYZ. This ticker is not supported by Adanos v1."}},"schema":{"$ref":"#/components/schemas/UnsupportedAssetError"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/market-sentiment":{"get":{"tags":["Reddit Stocks"],"summary":"Market Sentiment","description":"Returns the service-level Reddit market sentiment snapshot across all tracked stocks when you want a single Reddit-wide market state instead of per-ticker rankings.\nIt includes service-wide buzz, sentiment split, activity trend, breadth metrics and the top drivers by current `buzz_score`.\n\n`buzz_score` here means relative Reddit market heat, not pure bullishness.\nIt measures how hot overall Reddit stock activity is versus Reddit's own trailing 90-day baseline:\n- around `50` = normal Reddit market activity\n- higher = more active than usual\n- lower = quieter than usual\n\n`trend` is activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today).\n\nUse `sentiment_score`, `bullish_pct` and `bearish_pct` for direction.\n\n`mentions` includes inherited thread-context mentions. Use raw `/mentions` without\n`include_inherited` for explicit-only rows.","operationId":"getRedditMarketSentiment","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedditMarketSentimentResponse"},"example":{"buzz_score":57.4,"trend":"stable","mentions":3992,"unique_posts":418,"subreddit_count":21,"total_upvotes":15234,"active_tickers":1000,"sentiment_score":0.045,"positive_count":1440,"negative_count":998,"neutral_count":1554,"bullish_pct":36,"bearish_pct":25,"trend_history":[49.8,52.1,50.7,55.6,58.3,60.2,57.4],"drivers":[{"ticker":"SPY","mentions":129,"buzz_score":74.1,"sentiment_score":0.009},{"ticker":"GOOGL","mentions":106,"buzz_score":71.8,"sentiment_score":0.029}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=300"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Getredditmarketsentiment"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/stock/{ticker}/explain":{"get":{"tags":["Reddit Stocks"],"summary":"AI explanation","description":"Returns an AI-generated explanation for why a stock is trending on Reddit, based on recent mention data and sentiment. Explanations are cached for 6 hours.\n\n**Includes:**\n- `explanation`: 1-2 sentence summary of why the stock is trending\n- `cached`: whether this was served from cache\n- `generated_at`: when the explanation was generated\n- `model`: which LLM model generated the explanation","operationId":"getStockExplanation","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"ticker","in":"path","required":true,"schema":{"type":"string","pattern":"^\\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$","description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)","title":"Ticker"},"description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StockExplanationResponse"},"example":{"ticker":"GME","company_name":"Gamestop Corporation - Class A","explanation":"GME is trending due to viral GameStop social media activity and large position posts on r/Superstonk.","cached":true,"generated_at":"2026-01-13T14:30:00+00:00","model":"meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo"}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=60"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Getstockexplanation"}}}},"503":{"description":"Explanation or database service unavailable","content":{"application/json":{"example":{"detail":"Explanation service temporarily unavailable. Try again later."}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Resource not found or no data available for the requested asset/window","content":{"application/json":{"example":{"detail":"No mentions found for $XYZ in the last 7 days."},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/explain\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/explain\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/explain\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/compare":{"get":{"tags":["Reddit Stocks"],"summary":"Compare stocks","description":"Compare up to 10 stock or ETF tickers side by side over the same UTC calendar-day period.\n\nResults are sorted by `buzz_score` descending and return the same core analytics used by\n`/trending`: `buzz_score`, `trend`, `trend_history`, `mentions`, `unique_posts`,\n`subreddit_count`, `sentiment_score`, `bullish_pct`, `bearish_pct` and `total_upvotes`.\n`trend` is activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today).\n\nIf a requested ticker is supported but has no qualifying data in the period, it is still returned with zeroed metrics.\n\n`mentions` includes inherited thread-context mentions. Use raw `/mentions` without\n`include_inherited` for explicit-only rows.","operationId":"compareStocks","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"tickers","in":"query","required":true,"schema":{"type":"string","description":"Comma-separated list of ticker symbols (e.g., TSLA,NVDA,AMD)","examples":["TSLA,NVDA,AMD"],"title":"Tickers"},"description":"Comma-separated list of ticker symbols (e.g., TSLA,NVDA,AMD)"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompareResponse"},"example":{"period_days":7,"stocks":[{"ticker":"TSLA","company_name":"Tesla, Inc.","buzz_score":87.5,"trend":"rising","mentions":342,"unique_posts":45,"subreddit_count":8,"sentiment_score":0.23,"bullish_pct":45,"bearish_pct":18,"total_upvotes":15234,"trend_history":[45.2,52.1,48.7,67.3,72.1,78.4,87.5]},{"ticker":"NVDA","company_name":"NVIDIA Corporation","buzz_score":72.3,"trend":"stable","mentions":189,"unique_posts":31,"subreddit_count":6,"sentiment_score":0.45,"bullish_pct":52,"bearish_pct":17,"total_upvotes":8921,"trend_history":[38.1,40.7,44.9,51.5,57.4,63.0,72.3]}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=30"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Comparestocks"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Invalid compare item list","content":{"application/json":{"example":{"detail":{"error":"too_many_tickers","message":"Maximum 10 tickers allowed.","max_items":10,"item_name":"ticker"}},"examples":{"too_many_tickers":{"summary":"Too many tickers","value":{"detail":{"error":"too_many_tickers","message":"Maximum 10 tickers allowed.","max_items":10,"item_name":"ticker"}}},"no_valid_tickers":{"summary":"No valid tickers","value":{"detail":{"error":"no_valid_tickers","message":"At least one valid ticker is required.","max_items":10,"item_name":"ticker"}}}},"schema":{"$ref":"#/components/schemas/CompareLimitError"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/search":{"get":{"tags":["Reddit Stocks"],"summary":"Search stocks","description":"Search stocks by ticker, company name or alias. Results prioritize match relevance first (exact ticker matches, then prefixes, then name/alias matches) and include a compact summary block for the last 7 UTC calendar days. Summary mentions include inherited thread-context mentions; use raw /mentions without include_inherited for explicit-only rows.","operationId":"searchStocks","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string","minLength":2,"description":"Search query (minimum 2 non-$ characters after trimming)","examples":["tesla"],"title":"Q"},"description":"Search query (minimum 2 non-$ characters after trimming)"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":50,"minimum":1,"description":"Maximum number of results to return","examples":[20],"default":20,"title":"Limit"},"description":"Maximum number of results to return"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"},"example":{"query":"tesla","count":1,"period_days":7,"results":[{"ticker":"TSLA","name":"Tesla Inc.","type":"Stock","exchange":"NASDAQ","sector":"Consumer Discretionary","country":"United States","aliases":["Tesla","Elon"],"summary":{"mentions":342,"buzz_score":87.5,"trend":"rising","sentiment_score":0.23,"bearish_pct":18,"bullish_pct":45,"subreddit_count":8,"total_upvotes":15234,"unique_posts":45}}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=15"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"Invalid search query parameters","content":{"application/json":{"examples":{"fixed_window":{"summary":"Search endpoints use a fixed summary window","value":{"detail":{"error":"Invalid search parameters","message":"Search endpoints use a fixed last-7-UTC-calendar-day summary window.","unsupported_parameters":["days"]}}},"normalized_query":{"summary":"Search query is too short after normalization","value":{"detail":"Search query must contain at least 2 non-$ characters after trimming"}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"string_too_short","loc":["query","q"],"msg":"String should have at least 2 characters","input":"t","ctx":{"min_length":2}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidSearchParametersError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Searchstocks"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/search?q=tesla&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/search?q=tesla&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/search?q=tesla&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/stats":{"get":{"tags":["Reddit Stocks"],"summary":"Service statistics","description":"Returns high-level Reddit stock dataset coverage metrics for questions like:\n- how many stock mention rows are stored\n- how many distinct tickers currently have Reddit data\n- how many mention rows and distinct tickers are present today (UTC)\n- how many supported tickers exist in the reference universe\n\nThe current-day counters count all rows in `reddit_mentions` since UTC midnight,\nincluding post mentions, comment mentions and inherited thread-context mentions.","operationId":"getStats","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedditStatsResponse"},"example":{"total_mentions":12833,"unique_tickers":65,"mentions_today":342,"unique_tickers_today":21,"supported_tickers":35000}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=300"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitError"},"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"detail":"Database temporarily unavailable"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"detail":"Request deadline exceeded"}}}}},"security":[{"ApiKeyAuth":[]}],"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/stats\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/stats\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/stats\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/stocks/v1/stock/{ticker}/mentions":{"get":{"tags":["Reddit Stocks"],"summary":"Raw Mentions","description":"Returns raw mention rows for a specific stock ticker within the live raw-data retention window.\n**Professional account required.** Free and Hobby accounts cannot use this endpoint.\n\n**Use this endpoint when you need:**\n- post/comment-level snippets\n- original timestamps\n- inherited-context filtering\n\n**Notes:**\n- Use `from` and `to` for explicit UTC date windows\n- Results are ordered newest first and support deterministic `offset` + `limit` pagination\n- `include_inherited=false` by default\n- empty result sets return `200` with `results=[]`","operationId":"getStockRawMentions","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"ticker","in":"path","required":true,"schema":{"type":"string","pattern":"^\\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$","description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)","title":"Ticker"},"description":"Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum number of raw mention rows to return","examples":[50],"default":50,"title":"Limit"},"description":"Maximum number of raw mention rows to return"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Number of raw mention rows to skip for offset-based pagination.","examples":[0],"default":0,"title":"Offset"},"description":"Number of raw mention rows to skip for offset-based pagination."},{"name":"include_inherited","in":"query","required":false,"schema":{"type":"boolean","description":"Include thread-context inherited mentions in addition to direct ticker mentions","default":false,"title":"Include Inherited"},"description":"Include thread-context inherited mentions in addition to direct ticker mentions"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedditRawMentionsResponse"},"example":{"ticker":"TSLA","period_days":7,"count":1,"results":[{"post_id":"abc123","comment_id":"def456","subreddit":"wallstreetbets","author":"user123","text_snippet":"TSLA looks strong into earnings...","created_utc":"2026-03-20T18:42:10Z","upvotes":381,"sentiment_score":0.62,"sentiment_label":"positive","is_inherited":false}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=60"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Getstockrawmentions"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/mentions?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/mentions?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/stocks/v1/stock/TSLA/mentions?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/crypto/v1/trending":{"get":{"tags":["Reddit Crypto"],"summary":"Trending tokens","description":"Returns the crypto assets with the strongest Reddit discussion activity in the selected period, ranked by `buzz_score`.\n\n**Includes:**\n- `buzz_score`: normalized 0-100 activity score used for ranking\n- `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)\n- `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals\n- `mentions`, `unique_posts`, `subreddit_count`, `total_upvotes`: attributed volume and engagement signals, including inherited thread-context mentions\n- `trend_history`: independent UTC-day buzz scores, oldest to newest; minimum 7 values; the live final value describes today so far and can differ from the selected-period `buzz_score`; missing days are `0.0`","operationId":"getRedditCryptoTrending","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"description":"Maximum tokens to return","default":20,"title":"Limit"},"description":"Maximum tokens to return"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"Pagination offset","default":0,"title":"Offset"},"description":"Pagination offset"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CryptoTrendingToken"},"title":"Response Getredditcryptotrending"},"example":[{"symbol":"BTC","name":"Bitcoin","buzz_score":78.1,"trend":"rising","mentions":423,"unique_posts":97,"subreddit_count":12,"sentiment_score":0.31,"bullish_pct":47,"bearish_pct":18,"total_upvotes":15620,"trend_history":[42.3,46.8,51.2,58.9,64.0,71.4,78.1]}]}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=30"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-04-28T14:30:00Z"},"X-Account-Type":{"description":"Account tier resolved from the API key.","schema":{"type":"string","enum":["free","hobby","professional","premium"]},"example":"free"}}},"401":{"description":"Authentication failed","content":{"application/json":{"examples":{"missing":{"summary":"Missing API key","value":{"detail":"Missing API key. Include 'X-API-Key' header."}},"invalid":{"summary":"Invalid API key","value":{"detail":"Invalid API key."}},"revoked":{"summary":"Revoked API key","value":{"detail":"API key has been revoked."}}},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Historical data limit exceeded","content":{"application/json":{"example":{"detail":{"error":"Historical data limit exceeded","message":"Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing","requested_days":60,"enforced_quantity":"lookback_days","max_days":30,"account_type":"free"}},"schema":{"$ref":"#/components/schemas/HistoricalLimitError"}}}},"429":{"description":"Rate limit exceeded","content":{"application/json":{"examples":{"burst":{"summary":"Fleet burst limit exceeded","value":{"detail":{"error":"Burst rate limit exceeded","message":"Too many requests. Limit is 100 requests per minute.","limit":100,"used":100,"account_type":"free"}}},"local":{"summary":"Local backup limiter exceeded","value":{"detail":{"error":"Rate limit exceeded","message":"Rate limit exceeded: 100 per 1 minute","limit":100,"account_type":"free"}}}},"schema":{"$ref":"#/components/schemas/RateLimitError"}}}},"422":{"description":"Invalid period or query parameters","content":{"application/json":{"examples":{"platform_availability":{"summary":"Period starts before platform data availability","value":{"detail":{"error":"Invalid period","message":"Requested period starts before this platform's public data availability.","period_from":"2025-03-17","available_since":"2026-03-07","platform":"news"}}},"validation":{"summary":"Query parameter validation failed","value":{"detail":[{"type":"greater_than_equal","loc":["query","days"],"msg":"Input should be greater than or equal to 1","input":"0","ctx":{"ge":1}}]}}},"schema":{"anyOf":[{"$ref":"#/components/schemas/InvalidPeriodError"},{"$ref":"#/components/schemas/HTTPValidationError"}],"title":"Response 422 Getredditcryptotrending"}}}},"503":{"description":"Database temporarily unavailable","content":{"application/json":{"example":{"detail":"Database temporarily unavailable"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Analytics request deadline exceeded","content":{"application/json":{"example":{"detail":"Request deadline exceeded"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"No trending crypto tokens found","content":{"application/json":{"example":{"detail":"No trending crypto tokens found."}}}}},"x-codeSamples":[{"lang":"curl","label":"cURL","source":"curl \"https://api.adanos.org/reddit/crypto/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""},{"lang":"javascript","label":"JavaScript","source":"const response = await fetch(\"https://api.adanos.org/reddit/crypto/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"},{"lang":"python","label":"Python","source":"import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/reddit/crypto/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"}]}},"/reddit/crypto/v1/token/{symbol}":{"get":{"tags":["Reddit Crypto"],"summary":"Token Sentiment","description":"Returns the detailed Reddit report for one crypto symbol.\n\n**Includes:**\n- `buzz_score`: normalized Reddit activity score for the selected period\n- `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, upvotes and subreddit breadth; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)\n- `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals\n- `mentions`, `unique_posts`, `subreddit_count`, `total_upvotes`: attributed volume and engagement signals, including inherited thread-context mentions\n- `daily_trend`: daily Reddit activity and sentiment values\n- `top_mentions`: representative high-engagement Reddit posts or comments from the selected period\n\nReturns `200` with `found: false` when the symbol is supported but this service\nhas no qualifying data in the requested window. Returns `404` only when the\nsymbol is unsupported.","operationId":"getRedditCryptoToken","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"symbol","in":"path","required":true,"schema":{"type":"string","pattern":"^\\$?[A-Za-z0-9]{1,20}$","description":"Crypto symbol (e.g., BTC, $ETH, SOL)","title":"Symbol"},"description":"Crypto symbol (e.g., BTC, $ETH, SOL)"},{"name":"from","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Start date in YYYY-MM-DD. Inclusive UTC date.","title":"From"},"description":"Start date in YYYY-MM-DD. Inclusive UTC date."},{"name":"to","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.","title":"To"},"description":"End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date."},{"name":"days","in":"query","required":false,"schema":{"type":"integer","maximum":365,"minimum":1,"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","title":"Days"},"description":"Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.","deprecated":true,"x-adanos-hide-in-request-client":true}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoTokenSentiment"},"example":{"symbol":"ETH","name":"Ethereum","found":true,"buzz_score":72.4,"mentions":318,"sentiment_score":0.27,"total_upvotes":10422,"unique_posts":73,"subreddit_count":9,"trend":"stable","bullish_pct":43,"bearish_pct":19,"period_days":7,"top_subreddits":[{"subreddit":"ethtrader","mentions":91,"count":91},{"subreddit":"cryptocurrency","mentions":84,"count":84}],"daily_trend":[{"date":"2026-02-24","mentions":48,"sentiment_score":0.22,"buzz_score":56.4,"bullish_pct":58,"bearish_pct":21},{"date":"2026-02-23","mentions":42,"sentiment_score":0.19,"buzz_score":51.7,"bullish_pct":52,"bearish_pct":24}],"top_mentions":[{"text_snippet":"ETH setup still looks strong into the next catalyst.","sentiment_score":0.74,"sentiment_label":"positive","upvotes":1200,"subreddit":"ethtrader","created_utc":"2026-02-24T09:15:00Z"}]}}},"headers":{"X-Request-ID":{"description":"Request correlation identifier returned by the API and included in structured application logs.","schema":{"type":"string"},"example":"adnos.req-20260423.abc12345"},"Cache-Control":{"description":"HTTP cache policy returned by the API.","schema":{"type":"string"},"example":"private, max-age=30"},"Vary":{"description":"Headers that private client caches must include in their cache key.","schema":{"type":"string"},"example":"X-API-Key, Authorization, Accept-Encoding"},"X-RateLimit-Limit-Monthly":{"description":"Monthly request quota for the authenticated account.","schema":{"type":"string"},"example":"250"},"X-RateLimit-Remaining-Monthly":{"description":"Remaining monthly requests for the authenticated account.","schema":{"type":"string"},"example":"247"},"X-RateLimit-Used-Monthly":{"description":"Requests already consumed in the account's current monthly quota window.","schema":{"type":"string"},"example":"3"},"X-RateLimit-Reset-Monthly":{"description":"ISO 8601 timestamp when the current monthly quota window resets.","schema":{"type":"string","format":"date-time"},"example":"2026-07-29T14:03:00Z"},"X-RateLimit-Limit-Burst":{"description":"Per-minute burst request quota for the authenticated account.","schema":{"type":"string"},"example":"100"},"X-RateLimit-Remaining-Burst":{"description":"Remaining requests in the current per-minute burst window.","schema":{"type":"string"},"example":"99"},"X-RateLimit-Reset-Burst":{"description":"ISO 8601 timestamp when the current burst rate-limit window resets.","schema":{"type":"s
[...]
