openapi: 3.2.0
info:
  title: Adanos Market Sentiment Polymarket Stocks API
  description: Market sentiment and attention data for **stocks** across **Reddit**, **X/Twitter**, **financial news**, and **Polymarket**, plus a separate **Reddit crypto** API and direct finance-tuned **text sentiment analysis** (1,000+ term finance lexicon).
  termsOfService: https://adanos.org/terms
  contact:
    name: API Support
    url: https://api.adanos.org/
    email: support@adanos.org
  license:
    name: MIT (OpenAPI document only)
    url: https://opensource.org/licenses/MIT
  version: 1.50.0
servers:
- url: https://api.adanos.org
  description: Production
tags:
- name: Polymarket Stocks
  description: Prediction-market based stock sentiment and attention from Polymarket prices, trades, liquidity and orderbook signals. Metrics are market-centric rather than mention-based.
paths:
  /polymarket/stocks/v1/trending:
    get:
      tags:
      - Polymarket Stocks
      summary: Trending stocks
      description: 'Returns the stocks with the strongest Polymarket prediction-market activity in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking; bullish and bearish market activity can both rank highly

        - `trend`: flow momentum over the current 3 UTC days vs previous 3 UTC days using trades, volume, market breadth and liquidity; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: outcome-aware market sentiment signals

        - `trade_count`, `market_count`, `unique_traders`, `total_liquidity`: activity, breadth, observed participation and liquidity signals

        - `trend_history`: independent UTC-day buzz scores, oldest to newest; minimum 7 values. For a closed single-day window with an available final Daily score, the final value equals `buzz_score`; live and multi-day values can differ. Missing days are `0.0`'
      operationId: getPolymarketTrendingStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum stocks to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum stocks to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip
      - name: type
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - stock
            - etf
            - all
            type: string
          - type: 'null'
          description: Filter by asset type. Omit or use 'all' for all assets.
          examples:
          - stock
          title: Type
        description: Filter by asset type. Omit or use 'all' for all assets.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolymarketTrendingStock'
                title: Response Getpolymarkettrendingstocks
              example:
              - ticker: TSLA
                company_name: Tesla, Inc.
                buzz_score: 71.4
                trend: rising
                trade_count: 312
                market_count: 27
                current_market_count: 12
                unique_traders: 119
                sentiment_score: 0.34
                bullish_pct: 67
                bearish_pct: 33
                total_liquidity: 94750.0
                trend_history:
                - 48.2
                - 51.0
                - 55.3
                - 61.1
                - 65.8
                - 69.2
                - 71.4
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getpolymarkettrendingstocks
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/trending/sectors:
    get:
      tags:
      - Polymarket Stocks
      summary: Trending sectors
      description: 'Returns the sectors with the strongest aggregated Polymarket prediction-market activity in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking

        - `trend`: flow momentum over the current 3 UTC days vs previous 3 UTC days using trades, volume, market breadth and liquidity; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `trade_count`, `market_count`, `unique_traders`, `total_liquidity`: activity, breadth, observed participation and liquidity signals

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: outcome-aware market sentiment signals

        - `top_tickers`: up to 5 tickers driving the sector result'
      operationId: getPolymarketTrendingSectors
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum sectors to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum sectors to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolymarketTrendingSector'
                title: Response Getpolymarkettrendingsectors
              example:
              - buzz_score: 72.8
                trend: rising
                trade_count: 312
                market_count: 147
                current_market_count: 71
                unique_tickers: 6
                unique_traders: 211
                sentiment_score: 0.22
                bullish_pct: 61
                bearish_pct: 39
                total_liquidity: 325000.0
                trend_history:
                - 48.2
                - 51.0
                - 55.3
                - 61.1
                - 65.8
                - 69.2
                - 72.8
                top_tickers:
                - AAPL
                - MSFT
                - NVDA
                - TSLA
                - AMD
                sector: Technology
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getpolymarkettrendingsectors
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/trending/countries:
    get:
      tags:
      - Polymarket Stocks
      summary: Trending countries
      description: 'Returns the countries with the strongest aggregated Polymarket prediction-market activity in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking

        - `trend`: flow momentum over the current 3 UTC days vs previous 3 UTC days using trades, volume, market breadth and liquidity; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `trade_count`, `market_count`, `unique_traders`, `total_liquidity`: activity, breadth, observed participation and liquidity signals

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: outcome-aware market sentiment signals

        - `top_tickers`: up to 5 tickers driving the country result'
      operationId: getPolymarketTrendingCountries
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum countries to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum countries to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PolymarketTrendingCountry'
                title: Response Getpolymarkettrendingcountries
              example:
              - buzz_score: 70.1
                trend: stable
                trade_count: 712
                market_count: 265
                current_market_count: 129
                unique_tickers: 10
                unique_traders: 402
                sentiment_score: 0.18
                bullish_pct: 58
                bearish_pct: 42
                total_liquidity: 472000.0
                trend_history:
                - 52.1
                - 54.0
                - 56.8
                - 59.2
                - 61.0
                - 60.1
                - 70.1
                top_tickers:
                - AAPL
                - TSLA
                - NVDA
                - AMZN
                - GOOGL
                country: United States
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getpolymarkettrendingcountries
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/stock/{ticker}:
    get:
      tags:
      - Polymarket Stocks
      summary: Stock Sentiment
      description: 'Returns Polymarket-based sentiment and activity for one stock ticker.


        The response combines:

        - Period metrics for the date window defined by `days` or `from`/`to`.

        - Representative market-level evidence in `top_mentions`.

        - A compact current market read in `pulse`.


        **Fields:**

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: outcome-aware sentiment derived from Polymarket market prices and outcomes

        - `buzz_score`: normalized activity score for the selected period; both bullish and bearish activity can increase buzz

        - `trend`: recent flow momentum, comparing the current 3 UTC days with the previous 3 UTC days using trades, volume, market breadth and liquidity; this is not stock price movement

        - `trade_count`, `market_count`, `unique_traders`, `total_liquidity`: period activity, breadth, observed participation and liquidity

        - `daily_trend`: daily activity and sentiment values for the selected window

        - `top_mentions`: representative Polymarket markets behind the ticker-level signals, including market-level `sentiment_score` and `buzz_score`

        - `pulse`: compact current interpretation from the latest stored open-market snapshots


        **Notes:**

        - `pulse` is current-state oriented and does not duplicate aggregate response fields.

        - Use `top_mentions` for concrete market examples; `pulse` intentionally stays compact.

        - `top_mentions` includes only markets observed active/open in the selected period; ranking prioritizes outcome-aware directional evidence, keeps opposing signals visible when present, then uses trade count, market status, volume and liquidity as tie-breakers.

        - Prices, volume and liquidity in `top_mentions` come from the selected in-period snapshot, not necessarily the latest live market state.

        - `active` indicates whether the market is currently open, so older in-period evidence can now be inactive, resolved or expired.

        - `market_status` can be `tradable`, `open`, `resolved`, `expired` or `inactive`.

        - For windows longer than snapshot retention, aggregate metrics can still use `polymarket_daily_stats`; `top_mentions` is limited to retained or stored representative market snapshots.

        - Returns `200` with `found: false` when the ticker is supported but this service has no qualifying data in the requested window. Returns `404` only when the ticker is unsupported.'
      operationId: getPolymarketStock
      security:
      - ApiKeyAuth: []
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$
          description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
          examples:
          - AAPL
          - BRK.A
          title: Ticker
        description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketStockDetailResponse'
              example:
                ticker: AAPL
                company_name: Apple Inc.
                found: true
                buzz_score: 68.9
                trend: stable
                period_days: 7
                trade_count: 312
                market_count: 27
                current_market_count: 12
                unique_traders: 119
                sentiment_score: 0.28
                bullish_pct: 64
                bearish_pct: 36
                total_liquidity: 128000.0
                daily_trend:
                - date: '2026-02-13'
                  trade_count: 5
                  sentiment_score: 0.25
                  buzz_score: 64.1
                  bullish_pct: 64
                  bearish_pct: 21
                top_mentions:
                - condition_id: 0xabc...
                  question: Will AAPL close above $220 this week?
                  market_type: close_above
                  trade_count: 42
                  sentiment_score: 0.23
                  buzz_score: 77.2
                  yes_price: 0.62
                  no_price: 0.38
                  liquidity: 7905.52
                  volume_24h: 2408.43
                  end_date: '2026-02-28'
                  active: true
                  market_status: tradable
                pulse:
                  mood: mixed
                  confidence: 60.0
                  thin_data: false
                  why:
                  - opposing_market_signals
                  - upside_targets_rejected
                  - floor_support
                  warnings:
                  - high_average_spread
                  - low_trade_breadth
                  evidence:
                    directional_coverage: 1.0
                    traded_market_pct: 0.231
                    zero_trade_market_pct: 0.769
                    avg_spread: 0.099
                    snapshot_at: '2026-06-24T06:25:53Z'
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getpolymarketstock
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unsupported ticker
          content:
            application/json:
              example:
                detail:
                  error_code: unsupported_ticker
                  message: Unsupported ticker $XYZ. This ticker is not supported by Adanos v1.
              schema:
                $ref: '#/components/schemas/UnsupportedAssetError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/stock/AAPL?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/stock/AAPL?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/stock/AAPL?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/market-sentiment:
    get:
      tags:
      - Polymarket Stocks
      summary: Market Sentiment
      description: 'Returns the service-level Polymarket market sentiment snapshot across all tracked stocks when you want a single Polymarket-wide market state instead of per-ticker rankings.

        It includes service-wide buzz, sentiment split, activity trend, breadth metrics and the top drivers by current `buzz_score`.


        `buzz_score` here means relative Polymarket market heat, not pure bullishness.

        It measures how hot overall Polymarket stock-market activity is versus Polymarket''s own trailing 90-day baseline:

        - around `50` = normal market activity

        - higher = more active than usual

        - lower = quieter than usual


        `trend` is flow momentum over the current 3 UTC days vs previous 3 UTC days using trades, volume, market breadth and liquidity; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today).


        Use `sentiment_score`, `bullish_pct` and `bearish_pct` for direction.'
      operationId: getPolymarketMarketSentiment
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketMarketSentimentResponse'
              example:
                buzz_score: 58.4
                trend: stable
                trade_count: 512
                market_count: 93
                current_market_count: 64
                unique_traders: 281
                total_liquidity: 245000.0
                active_tickers: 31
                sentiment_score: 0.11
                positive_count: 41
                negative_count: 29
                neutral_count: 23
                bullish_pct: 44
                bearish_pct: 31
                trend_history:
                - 52.1
                - 54.0
                - 56.8
                - 59.2
                - 61.0
                - 60.1
                - 58.4
                drivers:
                - ticker: AAPL
                  trade_count: 52
                  buzz_score: 68.9
                  sentiment_score: 0.28
                - ticker: TSLA
                  trade_count: 47
                  buzz_score: 66.3
                  sentiment_score: 0.19
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getpolymarketmarketsentiment
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/compare:
    get:
      tags:
      - Polymarket Stocks
      summary: Compare stocks
      description: 'Compare up to 10 stock or ETF tickers side by side using Polymarket market activity.


        Use it when you already know the tickers and want a compact ranked table instead of full detail reports.

        Results are sorted by `buzz_score` descending and include `trend`, `trend_history`, `trade_count`, `market_count`, `current_market_count`, `unique_traders`, `sentiment_score`, `bullish_pct`, `bearish_pct` and `total_liquidity`.

        `trend` is flow momentum over the current 3 UTC days vs previous 3 UTC days using trades, volume, market breadth and liquidity; not price movement. For `from`/`to`, anchors at `to` (or now when `to` is today).'
      operationId: comparePolymarketStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: tickers
        in: query
        required: true
        schema:
          type: string
          description: Comma-separated ticker list (max 10)
          examples:
          - TSLA,NVDA,AMD
          title: Tickers
        description: Comma-separated ticker list (max 10)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketCompareResponse'
              example:
                period_days: 7
                stocks:
                - ticker: AAPL
                  company_name: Apple Inc.
                  buzz_score: 68.9
                  trend: stable
                  trade_count: 312
                  market_count: 27
                  current_market_count: 12
                  unique_traders: 119
                  sentiment_score: 0.28
                  bullish_pct: 64
                  bearish_pct: 36
                  total_liquidity: 128000.0
                  trend_history:
                  - 48.2
                  - 51.0
                  - 55.3
                  - 61.1
                  - 65.8
                  - 69.2
                  - 68.9
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Comparepolymarketstocks
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Invalid compare item list
          content:
            application/json:
              example:
                detail:
                  error: too_many_tickers
                  message: Maximum 10 tickers allowed.
                  max_items: 10
                  item_name: ticker
              examples:
                too_many_tickers:
                  summary: Too many tickers
                  value:
                    detail:
                      error: too_many_tickers
                      message: Maximum 10 tickers allowed.
                      max_items: 10
                      item_name: ticker
                no_valid_tickers:
                  summary: No valid tickers
                  value:
                    detail:
                      error: no_valid_tickers
                      message: At least one valid ticker is required.
                      max_items: 10
                      item_name: ticker
              schema:
                $ref: '#/components/schemas/CompareLimitError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/search:
    get:
      tags:
      - Polymarket Stocks
      summary: Search stocks
      description: Search supported stocks and ETFs, then enrich the matches with Polymarket activity. Results prioritize exact ticker matches first, then prefixes, then name/alias matches and include a compact `summary` block for the last 7 UTC calendar days.
      operationId: searchPolymarketStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 50
          description: Search query (minimum 2 non-$ characters after trimming)
          examples:
          - tesla
          title: Q
        description: Search query (minimum 2 non-$ characters after trimming)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 1
          description: Maximum number of results to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum number of results to return
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketSearchResponse'
              example:
                query: tesla
                count: 1
                period_days: 7
                results:
                - ticker: TSLA
                  name: Tesla Inc.
                  type: Stock
                  exchange: NASDAQ
                  sector: Consumer Discretionary
                  country: United States
                  aliases:
                  - Tesla
                  - Elon
                  summary:
                    trade_count: 14
                    buzz_score: 71.4
                    trend: rising
                    sentiment_score: 0.34
                    bearish_pct: 33
                    bullish_pct: 67
                    current_market_count: 12
                    market_count: 27
                    total_liquidity: 94750.0
                    unique_traders: 119
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=15
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid search query parameters
          content:
            application/json:
              examples:
                fixed_window:
                  summary: Search endpoints use a fixed summary window
                  value:
                    detail:
                      error: Invalid search parameters
                      message: Search endpoints use a fixed last-7-UTC-calendar-day summary window.
                      unsupported_parameters:
                      - days
                normalized_query:
                  summary: Search query is too short after normalization
                  value:
                    detail: Search query must contain at least 2 non-$ characters after trimming
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: string_too_short
                      loc:
                      - query
                      - q
                      msg: String should have at least 2 characters
                      input: t
                      ctx:
                        min_length: 2
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidSearchParametersError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Searchpolymarketstocks
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/search?q=tesla&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/search?q=tesla&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/search?q=tesla&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/stats:
    get:
      tags:
      - Polymarket Stocks
      summary: Service statistics
      description: 'Returns high-level database coverage metrics for the Polymarket stock dataset.


        Use this endpoint to understand how much market activity is indexed:

        - total aggregated trade activity

        - total distinct markets captured

        - unique stock tickers with indexed Polymarket market rows

        - currently open markets and tickers

        - today''s UTC trade activity, traded markets and traded tickers

        - supported ticker count from the reference universe'
      operationId: getPolymarketStats
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketStatsResponse'
              example:
                total_trades: 15420
                total_markets: 713
                unique_tickers: 119
                open_markets_current: 284
                open_tickers_current: 71
                traded_markets_today: 39
                traded_tickers_today: 17
                trades_today: 84
                supported_tickers: 35000
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: Database temporarily unavailable
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: Request deadline exceeded
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/polymarket/stocks/v1/stats\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/polymarket/stocks/v1/stats\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/polymarket/stocks/v1/stats\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /polymarket/stocks/v1/stock/{ticker}/mentions:
    get:
      tags:
      - Polymarket Stocks
      summary: Raw Mentions
      description: 'Returns raw Polymarket market snapshot rows for a specific ticker within the live raw-data retention window.

        **Professional account required.** Free and Hobby accounts cannot use this endpoint.


        **Use this endpoint when you need:**

        - original market questions, prices, liquidity, volume, trade counters and timestamps

        - outcome-aware market price sentiment for individual snapshot rows

        - repeated snapshots for the same market over time


        **Notes:**

        - Use `from` and `to` for explicit UTC date windows

        - Results are ordered newest first and support deterministic `offset` + `limit` pagination

        - empty result sets return `200` with `results=[]`

        - The same `condition_id` can appear multiple times across different `fetched_at` snapshots

        - `active` indicates whether the market is currently open, using the latest stored state for that `condition_id`; `market_status` compactly distinguishes `tradable`, `open`, `resolved`, `expired` and `inactive`

        - `buy_trades` and `sell_trades` are activity counters, not bullish/bearish sentiment'
      operationId: getPolymarketStockRawMentions
      security:
      - ApiKeyAuth: []
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$
          description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
          examples:
          - TSLA
          - BRK.A
          title: Ticker
        description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 90
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of raw Polymarket snapshot rows to return
          examples:
          - 50
          default: 50
          title: Limit
        description: Maximum number of raw Polymarket snapshot rows to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of raw mention rows to skip for offset-based pagination.
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of raw mention rows to skip for offset-based pagination.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolymarketRawMentionsResponse'
              example:
                ticker: NVDA
                period_days: 7
                count: 1
                results:
                - condition_id: 0xabc...
                  event_id: '12345'
                  market_slug: nvda-up-or-down-on-april-20-2026
                  question: NVDA up or down on April 20?
                  market_type: up_down
                  strike_price: 250.0
                  yes_price: 0.63
                  no_price: 0.37
                  reference_price: 247.82
                  reference_price_timestamp: '2026-04-20T14:30:00Z'
                  liquidity: 7905.52
                  volume_24h: 2408.43
                  trade_count: 42
                  buy_trades: 23
                  sell_trades: 19
                  unique_traders: 31
                  sentiment_score: 0.26
                  sentiment_label: positive
                  end_date: '2026-04-20T23:59:00Z'
                  active: true
                  market_status: tradable
                  fetched_at: '2026-04-20T15:00:00Z'
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=60
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
[...]
