openapi: 3.2.0
info:
  title: Adanos Market Sentiment X/Twitter Stocks API
  description: Market sentiment and attention data for **stocks** across **Reddit**, **X/Twitter**, **financial news**, and **Polymarket**, plus a separate **Reddit crypto** API and direct finance-tuned **text sentiment analysis** (1,000+ term finance lexicon).
  termsOfService: https://adanos.org/terms
  contact:
    name: API Support
    url: https://api.adanos.org/
    email: support@adanos.org
  license:
    name: MIT (OpenAPI document only)
    url: https://opensource.org/licenses/MIT
  version: 1.50.0
servers:
- url: https://api.adanos.org
  description: Production
tags:
- name: X/Twitter Stocks
  description: Fast-moving stock attention from X/Twitter cashtags and tweet engagement, useful for momentum discovery and validation.
paths:
  /x/stocks/v1/trending:
    get:
      tags:
      - X/Twitter Stocks
      summary: Trending stocks
      description: 'Returns the stocks with the strongest X/Twitter discussion activity in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking

        - `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals

        - `mentions`, `unique_tweets`, `total_upvotes`: volume and engagement signals

        - `trend_history`: independent UTC-day buzz scores, oldest to newest; minimum 7 values; the live final value describes today so far and can differ from the selected-period `buzz_score`; missing days are `0.0`'
      operationId: getXTrendingStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum stocks to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum stocks to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip for pagination
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip for pagination
      - name: type
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - stock
            - etf
            - all
            type: string
          - type: 'null'
          description: Filter by asset type. Omit or use 'all' for all assets.
          examples:
          - stock
          title: Type
        description: Filter by asset type. Omit or use 'all' for all assets.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XTrendingStock'
                title: Response Getxtrendingstocks
              example:
              - ticker: TSLA
                company_name: Tesla, Inc.
                buzz_score: 72.5
                trend: rising
                mentions: 156
                sentiment_score: 0.35
                bullish_pct: 45
                bearish_pct: 12
                total_upvotes: 2847
                unique_tweets: 42
                trend_history:
                - 45.2
                - 48.1
                - 52.3
                - 55.0
                - 58.2
                - 61.5
                - 64.8
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxtrendingstocks
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/trending?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/trending/sectors:
    get:
      tags:
      - X/Twitter Stocks
      summary: Trending sectors
      description: 'Returns the sectors with the strongest aggregated X/Twitter stock discussion in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking

        - `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `mentions`, `unique_tickers`, `total_upvotes`: volume and engagement signals

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals

        - `top_tickers`: up to 5 tickers driving the sector result

        - `trend_history`: independent daily sector buzz scores, oldest to newest; length is max(requested days, 7); the live final value describes today so far and can differ from period `buzz_score`'
      operationId: getXTrendingSectors
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of results
          examples:
          - 10
          default: 20
          title: Limit
        description: Maximum number of results
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip for pagination
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XTrendingSector'
                title: Response Getxtrendingsectors
              example:
              - buzz_score: 78.4
                trend: rising
                mentions: 4523
                unique_tickers: 34
                unique_authors: 156
                sentiment_score: 0.28
                bullish_pct: 54
                bearish_pct: 22
                total_upvotes: 128450
                trend_history:
                - 45.2
                - 48.1
                - 52.3
                - 55.0
                - 58.2
                - 61.5
                - 78.4
                top_tickers:
                - NVDA
                - AAPL
                - MSFT
                - AMD
                - GOOGL
                sector: Technology
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxtrendingsectors
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/trending/sectors?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/trending/countries:
    get:
      tags:
      - X/Twitter Stocks
      summary: Trending countries
      description: 'Returns the countries with the strongest aggregated X/Twitter stock discussion in the selected period, ranked by `buzz_score`.


        **Includes:**

        - `buzz_score`: normalized 0-100 activity score used for ranking

        - `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `mentions`, `unique_tickers`, `total_upvotes`: volume and engagement signals

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals

        - `top_tickers`: up to 5 tickers driving the country result

        - `trend_history`: independent daily country buzz scores, oldest to newest; length is max(requested days, 7); the live final value describes today so far and can differ from period `buzz_score`'
      operationId: getXTrendingCountries
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of results
          examples:
          - 10
          default: 20
          title: Limit
        description: Maximum number of results
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of items to skip for pagination
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of items to skip for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/XTrendingCountry'
                title: Response Getxtrendingcountries
              example:
              - buzz_score: 82.3
                trend: stable
                mentions: 8934
                unique_tickers: 156
                unique_authors: 423
                sentiment_score: 0.21
                bullish_pct: 48
                bearish_pct: 26
                total_upvotes: 245000
                trend_history:
                - 52.1
                - 54.0
                - 56.8
                - 59.2
                - 61.0
                - 60.1
                - 82.3
                top_tickers:
                - NVDA
                - TSLA
                - AAPL
                - AMD
                - PLTR
                country: United States
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxtrendingcountries
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/trending/countries?from=2026-05-01&to=2026-05-07&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/stock/{ticker}:
    get:
      tags:
      - X/Twitter Stocks
      summary: Stock Sentiment
      description: 'Returns detailed X/Twitter data for a specific ticker.


        **Includes:**

        - `buzz_score`: normalized X/Twitter activity score for the selected period

        - `trend`: activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today)

        - `sentiment_score`, `bullish_pct`, `bearish_pct`: directional sentiment signals

        - `mentions`, `unique_tweets`, `total_upvotes`: volume and engagement signals

        - `daily_trend`: daily X/Twitter activity and sentiment values

        - `top_tweets`: representative high-engagement tweets from the selected period


        Returns `200` with `found: false` when the ticker is supported but this service

        has no qualifying data in the requested window. Returns `404` only when the

        ticker is unsupported.'
      operationId: getXStockSentiment
      security:
      - ApiKeyAuth: []
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$
          description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
          examples:
          - TSLA
          title: Ticker
        description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XStockDetailResponse'
              example:
                ticker: TSLA
                company_name: Tesla, Inc.
                found: true
                buzz_score: 72.5
                mentions: 156
                sentiment_score: 0.35
                total_upvotes: 2847
                unique_tweets: 42
                trend: rising
                bullish_pct: 45
                bearish_pct: 12
                period_days: 7
                daily_trend:
                - date: '2025-12-28'
                  mentions: 42
                  sentiment_score: 0.15
                  buzz_score: 52.3
                  bullish_pct: 60
                  bearish_pct: 25
                - date: '2025-12-27'
                  mentions: 38
                  sentiment_score: 0.22
                  buzz_score: 48.1
                  bullish_pct: 55
                  bearish_pct: 18
                top_tweets:
                - text_snippet: $TSLA breaking out! 🚀
                  sentiment_score: 0.85
                  sentiment_label: positive
                  likes: 1247
                  retweets: 89
                  views: 52340
                  author: stockguru
                  created_at: '2025-12-28T14:32:00Z'
                top_authors:
                - author: stockguru
                  mentions: 24
                  sentiment_score: 0.41
                  buzz_score: 61.8
                  count: 24
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxstocksentiment
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Unsupported ticker
          content:
            application/json:
              example:
                detail:
                  error_code: unsupported_ticker
                  message: Unsupported ticker $XYZ. This ticker is not supported by Adanos v1.
              schema:
                $ref: '#/components/schemas/UnsupportedAssetError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/stock/TSLA?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/market-sentiment:
    get:
      tags:
      - X/Twitter Stocks
      summary: Market Sentiment
      description: 'Returns the service-level X/Twitter market sentiment snapshot across all tracked stocks when you want a single X-wide market state instead of per-ticker rankings.

        It includes service-wide buzz, sentiment split, activity trend, breadth metrics and the top drivers by current `buzz_score`.


        `buzz_score` here means relative X/Twitter market heat, not pure bullishness.

        It measures how hot overall X stock discussion is versus X''s own trailing 90-day baseline:

        - around `50` = normal X market activity

        - higher = more active than usual

        - lower = quieter than usual


        `trend` is activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today).


        Use `sentiment_score`, `bullish_pct` and `bearish_pct` for direction.'
      operationId: getXMarketSentiment
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XMarketSentimentResponse'
              example:
                buzz_score: 56.2
                trend: rising
                mentions: 2847
                unique_tweets: 913
                unique_authors: 604
                total_upvotes: 28471
                active_tickers: 442
                sentiment_score: 0.081
                positive_count: 1198
                negative_count: 741
                neutral_count: 908
                bullish_pct: 42
                bearish_pct: 26
                trend_history:
                - 48.9
                - 50.7
                - 52.6
                - 54.4
                - 57.1
                - 58.3
                - 56.2
                drivers:
                - ticker: TSLA
                  mentions: 156
                  buzz_score: 72.5
                  sentiment_score: 0.35
                - ticker: NVDA
                  mentions: 141
                  buzz_score: 70.8
                  sentiment_score: 0.27
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxmarketsentiment
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/market-sentiment?from=2026-05-01&to=2026-05-07\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/stock/{ticker}/explain:
    get:
      tags:
      - X/Twitter Stocks
      summary: AI explanation
      description: 'Returns an AI-generated explanation for why a stock is trending on X/Twitter, anchored to tweet evidence with other platforms used only as cross-check context.


        **Includes:**

        - `explanation`: 1-2 sentence summary of why the stock is trending

        - `cached`: whether this was served from cache

        - `generated_at`: when the explanation was generated

        - `model`: which LLM model generated the explanation'
      operationId: getXStockExplanation
      security:
      - ApiKeyAuth: []
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$
          description: Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)
          title: Ticker
        description: Stock ticker symbol (e.g., TSLA, aapl, BRK.A, $GME)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StockExplanationResponse'
              example:
                ticker: GME
                company_name: Gamestop Corporation - Class A
                explanation: GME is trending due to viral GameStop social media activity and large position posts on r/Superstonk.
                cached: true
                generated_at: '2026-01-13T14:30:00+00:00'
                model: meta-llama/Meta-Llama-3.1-8B-Instruct-Turbo
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=60
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Getxstockexplanation
        '503':
          description: Explanation or database service unavailable
          content:
            application/json:
              example:
                detail: Explanation service temporarily unavailable. Try again later.
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Resource not found or no data available for the requested asset/window
          content:
            application/json:
              example:
                detail: No mentions found for $XYZ in the last 7 days.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/stock/TSLA/explain\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/stock/TSLA/explain\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/stock/TSLA/explain\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/compare:
    get:
      tags:
      - X/Twitter Stocks
      summary: Compare stocks
      description: 'Compare up to 10 stocks side by side using X/Twitter metrics over the same UTC calendar-day period.


        Use it when you already know the tickers and want a compact ranked table instead of full detail reports.

        Results are sorted by `buzz_score` descending and include `trend`, `trend_history`, `mentions`, `unique_tweets`, `sentiment_score`, `bullish_pct`, `bearish_pct` and `total_upvotes`.

        `trend` is activity momentum over the current 3 UTC days vs previous 3 UTC days using mentions, likes and author breadth; not price movement or Grok rank movement. For `from`/`to`, anchors at `to` (or now when `to` is today).'
      operationId: compareXStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: tickers
        in: query
        required: true
        schema:
          type: string
          description: Comma-separated list of ticker symbols (e.g., TSLA,NVDA,AMD)
          examples:
          - TSLA,NVDA,AMD
          title: Tickers
        description: Comma-separated list of ticker symbols (e.g., TSLA,NVDA,AMD)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XCompareResponse'
              example:
                period_days: 7
                stocks:
                - ticker: TSLA
                  company_name: Tesla, Inc.
                  buzz_score: 72.5
                  trend: rising
                  mentions: 156
                  unique_tweets: 42
                  sentiment_score: 0.35
                  bullish_pct: 45
                  bearish_pct: 12
                  total_upvotes: 2847
                  trend_history:
                  - 45.2
                  - 48.1
                  - 52.3
                  - 55.0
                  - 58.2
                  - 61.5
                  - 72.5
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=30
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Historical data limit exceeded
          content:
            application/json:
              example:
                detail:
                  error: Historical data limit exceeded
                  message: 'Your free account is limited to 30 days of historical lookback. Upgrade to Hobby for up to 90 days or Professional for up to 365 days: https://adanos.org/pricing'
                  requested_days: 60
                  enforced_quantity: lookback_days
                  max_days: 30
                  account_type: free
              schema:
                $ref: '#/components/schemas/HistoricalLimitError'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '422':
          description: Invalid period or query parameters
          content:
            application/json:
              examples:
                platform_availability:
                  summary: Period starts before platform data availability
                  value:
                    detail:
                      error: Invalid period
                      message: Requested period starts before this platform's public data availability.
                      period_from: '2025-03-17'
                      available_since: '2026-03-07'
                      platform: news
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: greater_than_equal
                      loc:
                      - query
                      - days
                      msg: Input should be greater than or equal to 1
                      input: '0'
                      ctx:
                        ge: 1
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidPeriodError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Comparexstocks
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          description: Invalid compare item list
          content:
            application/json:
              example:
                detail:
                  error: too_many_tickers
                  message: Maximum 10 tickers allowed.
                  max_items: 10
                  item_name: ticker
              examples:
                too_many_tickers:
                  summary: Too many tickers
                  value:
                    detail:
                      error: too_many_tickers
                      message: Maximum 10 tickers allowed.
                      max_items: 10
                      item_name: ticker
                no_valid_tickers:
                  summary: No valid tickers
                  value:
                    detail:
                      error: no_valid_tickers
                      message: At least one valid ticker is required.
                      max_items: 10
                      item_name: ticker
              schema:
                $ref: '#/components/schemas/CompareLimitError'
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/compare?from=2026-05-01&to=2026-05-07&tickers=TSLA,AAPL,NVDA\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/search:
    get:
      tags:
      - X/Twitter Stocks
      summary: Search stocks
      description: Search stocks by ticker, company name or alias in the X/Twitter universe. Results prioritize exact ticker matches first, then prefixes, then name/alias matches and include a compact `summary` block for the last 7 UTC calendar days.
      operationId: searchXStocks
      security:
      - ApiKeyAuth: []
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          description: Search query (minimum 2 non-$ characters after trimming)
          examples:
          - tesla
          title: Q
        description: Search query (minimum 2 non-$ characters after trimming)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 1
          description: Maximum number of results to return
          examples:
          - 20
          default: 20
          title: Limit
        description: Maximum number of results to return
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XSearchResponse'
              example:
                query: tesla
                count: 1
                period_days: 7
                results:
                - ticker: TSLA
                  name: Tesla Inc.
                  type: Stock
                  exchange: NASDAQ
                  sector: Consumer Discretionary
                  country: United States
                  aliases:
                  - Tesla
                  - Elon
                  summary:
                    mentions: 156
                    buzz_score: 72.5
                    trend: rising
                    sentiment_score: 0.35
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=15
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              example:
                detail: Database temporarily unavailable
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              example:
                detail: Request deadline exceeded
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid search query parameters
          content:
            application/json:
              examples:
                fixed_window:
                  summary: Search endpoints use a fixed summary window
                  value:
                    detail:
                      error: Invalid search parameters
                      message: Search endpoints use a fixed last-7-UTC-calendar-day summary window.
                      unsupported_parameters:
                      - days
                normalized_query:
                  summary: Search query is too short after normalization
                  value:
                    detail: Search query must contain at least 2 non-$ characters after trimming
                validation:
                  summary: Query parameter validation failed
                  value:
                    detail:
                    - type: string_too_short
                      loc:
                      - query
                      - q
                      msg: String should have at least 2 characters
                      input: t
                      ctx:
                        min_length: 2
              schema:
                anyOf:
                - $ref: '#/components/schemas/InvalidSearchParametersError'
                - $ref: '#/components/schemas/HTTPValidationError'
                title: Response 422 Searchxstocks
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/search?q=tesla&limit=5\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/search?q=tesla&limit=5\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/search?q=tesla&limit=5\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/stats:
    get:
      tags:
      - X/Twitter Stocks
      summary: Service statistics
      description: 'Returns high-level coverage and freshness metrics for the X/Twitter dataset.


        Includes:

        - total X mentions in the database

        - number of unique tickers with X mentions

        - today''s UTC X mention and distinct ticker counts

        - supported ticker count from the reference universe'
      operationId: getXStats
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XStatsResponse'
              example:
                total_mentions: 935
                unique_tickers: 100
                mentions_today: 42
                unique_tickers_today: 12
                supported_tickers: 35000
          headers:
            X-Request-ID:
              description: Request correlation identifier returned by the API and included in structured application logs.
              schema:
                type: string
              example: adnos.req-20260423.abc12345
            Cache-Control:
              description: HTTP cache policy returned by the API.
              schema:
                type: string
              example: private, max-age=300
            Vary:
              description: Headers that private client caches must include in their cache key.
              schema:
                type: string
              example: X-API-Key, Authorization, Accept-Encoding
            X-RateLimit-Limit-Monthly:
              description: Monthly request quota for the authenticated account.
              schema:
                type: string
              example: '250'
            X-RateLimit-Remaining-Monthly:
              description: Remaining monthly requests for the authenticated account.
              schema:
                type: string
              example: '247'
            X-RateLimit-Used-Monthly:
              description: Requests already consumed in the account's current monthly quota window.
              schema:
                type: string
              example: '3'
            X-RateLimit-Reset-Monthly:
              description: ISO 8601 timestamp when the current monthly quota window resets.
              schema:
                type: string
                format: date-time
              example: '2026-07-29T14:03:00Z'
            X-RateLimit-Limit-Burst:
              description: Per-minute burst request quota for the authenticated account.
              schema:
                type: string
              example: '100'
            X-RateLimit-Remaining-Burst:
              description: Remaining requests in the current per-minute burst window.
              schema:
                type: string
              example: '99'
            X-RateLimit-Reset-Burst:
              description: ISO 8601 timestamp when the current burst rate-limit window resets.
              schema:
                type: string
                format: date-time
              example: '2026-04-28T14:30:00Z'
            X-Account-Type:
              description: Account tier resolved from the API key.
              schema:
                type: string
                enum:
                - free
                - hobby
                - professional
                - premium
              example: free
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing:
                  summary: Missing API key
                  value:
                    detail: Missing API key. Include 'X-API-Key' header.
                invalid:
                  summary: Invalid API key
                  value:
                    detail: Invalid API key.
                revoked:
                  summary: Revoked API key
                  value:
                    detail: API key has been revoked.
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                burst:
                  summary: Fleet burst limit exceeded
                  value:
                    detail:
                      error: Burst rate limit exceeded
                      message: Too many requests. Limit is 100 requests per minute.
                      limit: 100
                      used: 100
                      account_type: free
                local:
                  summary: Local backup limiter exceeded
                  value:
                    detail:
                      error: Rate limit exceeded
                      message: 'Rate limit exceeded: 100 per 1 minute'
                      limit: 100
                      account_type: free
        '503':
          description: Database temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: Database temporarily unavailable
        '504':
          description: Analytics request deadline exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                detail: Request deadline exceeded
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl \"https://api.adanos.org/x/stocks/v1/stats\" \\\n  -H \"X-API-Key: sk_live_your_key_here\""
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\"https://api.adanos.org/x/stocks/v1/stats\", {\n  headers: {\n    \"X-API-Key\": \"sk_live_your_key_here\",\n  },\n});\n\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst data = await response.json();\nconsole.log(data);"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://api.adanos.org/x/stocks/v1/stats\",\n    headers={\n        \"X-API-Key\": \"sk_live_your_key_here\",\n    },\n    timeout=30,\n)\nresponse.raise_for_status()\nprint(response.json())"
  /x/stocks/v1/stock/{ticker}/mentions:
    get:
      tags:
      - X/Twitter Stocks
      summary: Raw Mentions
      description: 'Returns raw tweet rows for a specific ticker within the live raw-data retention window.

        **Professional account required.** Free and Hobby accounts cannot use this endpoint.


        **Use this endpoint when you need:**

        - tweet-level snippets

        - original timestamps

        - engagement counters on the raw rows


        **Notes:**

        - Use `from` and `to` for explicit UTC date windows

        - Results are ordered newest first and support deterministic `offset` + `limit` pagination

        - empty result sets return `200` with `results=[]`'
      operationId: getXStockRawMentions
      security:
      - ApiKeyAuth: []
      parameters:
      - name: ticker
        in: path
        required: true
        schema:
          type: string
          pattern: ^\$?(?:[A-Za-z0-9]{1,8}[.-][A-Za-z]|[A-Za-z0-9]{0}[A-Za-z][A-Za-z0-9]{0,9}|[A-Za-z0-9]{1}[A-Za-z][A-Za-z0-9]{0,8}|[A-Za-z0-9]{2}[A-Za-z][A-Za-z0-9]{0,7}|[A-Za-z0-9]{3}[A-Za-z][A-Za-z0-9]{0,6}|[A-Za-z0-9]{4}[A-Za-z][A-Za-z0-9]{0,5}|[A-Za-z0-9]{5}[A-Za-z][A-Za-z0-9]{0,4}|[A-Za-z0-9]{6}[A-Za-z][A-Za-z0-9]{0,3}|[A-Za-z0-9]{7}[A-Za-z][A-Za-z0-9]{0,2}|[A-Za-z0-9]{8}[A-Za-z][A-Za-z0-9]{0,1}|[A-Za-z0-9]{9}[A-Za-z][A-Za-z0-9]{0,0}|[0-9]{3,10})$
          description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
          examples:
          - TSLA
          - BRK.A
          title: Ticker
        description: Stock ticker symbol (e.g., TSLA, $AAPL, BRK.A)
      - name: from
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date in YYYY-MM-DD. Inclusive UTC date.
          title: From
        description: Start date in YYYY-MM-DD. Inclusive UTC date.
      - name: to
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
          title: To
        description: End date in YYYY-MM-DD. Inclusive UTC date. Omit to use the current UTC date.
      - name: days
        in: query
        required: false
        schema:
          type: integer
          maximum: 365
          minimum: 1
          description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
          title: Days
        description: Deprecated v1 compatibility shorthand. Prefer `from` and `to` for reproducible UTC date windows.
        deprecated: true
        x-adanos-hide-in-request-client: true
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of raw tweet rows to return
          examples:
          - 50
          default: 50
          title: Limit
        description: Maximum number of raw tweet rows to return
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of raw mention rows to skip for offset-based pagination.
          examples:
          - 0
          default: 0
          title: Offset
        description: Number of raw mention rows to skip for offset-based pagination.
      responses:
        '200':
[...]
